<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Note to <%= subject.name %></title>
    <link rel="icon" href="/images/main-image2.png">

</head>
<body>
    <h1>Add Note to <%= subject.name %> </h1>

    <form action="/subject/<%= subject._id %>/add-note" method="POST">
      <label for="title">PDF Title:</label>
      <input type="text" name="title" id="title" required>
    
      <label for="pdfLink">Choose PDF Link (OneDrive):</label>
      <input type="url" name="pdfLink" id="pdfLink" placeholder="Enter OneDrive link" required>
    
      <button type="submit">Add Note</button>
    </form>
    
    
    <a href="/subject/<%= subject._id %>">View Uploaded notes</a>
</body>
</html>
