
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Account</title>
    <link rel="stylesheet" href="/stylesheet/signin.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>

    <a href="/home" class="back-button">back to home</a>

    <!-- Create Account Form -->
    <div class="container">
        <h2>Create Account</h2>
        <form action ="/signup" method="post">
            <!-- Name Field -->
            <div class="input-group">
                <i class="fas fa-user"></i>
                <label for="username" class="form-label"></label>
                <input name="username" id="username" type="text" placeholder="enter a username" class="form-control" required>
            </div>

            <!-- Email Field -->
            <div class="input-group">
                <i class="fas fa-envelope"></i>
                <label for="email" class="form-label"></label>
                <input name="email" id="email" type="email" placeholder="enter a email" class="form-control" required>
            </div>

            <!-- Password Field -->
            <div class="input-group">
                <i class="fas fa-lock"></i>
                <label for="password" class="form-label"></label>
                <input name="password" id="password" type="password" placeholder="enter a password" class="form-control" required>
            </div>

            <!-- Submit Button -->
            <button type="submit">Create Account</button>
            <div class="register">
                <p>Do you have an account ?<a href="/login"> Log-in</a></p>
            </div>
        </form>
    </div>

</body>
</html>
